body {
    background-color: rgb(250, 243, 248);
    color: black;
    text-align: center;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 3px solid rgb(2, 4, 82);
    padding: 1px;
}

.cell img {
    width: 25px;
    height: auto;
}

.open {
    background-color: white
}

.close {
    background-color: rgb(209, 253, 219);
}

.play-again {
    background-color: rgb(171, 227, 235);
    border: 2.5px solid rgb(2, 4, 82);
    padding: 9px;
    border-radius: 7px;
    cursor: pointer;
}

.level1 {
    background-color: rgb(171, 227, 235);
    border: 2.5px solid rgb(2, 4, 82);
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
}

.level2 {
    background-color: rgb(171, 227, 235);
    border: 2.5px solid rgb(2, 4, 82);
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
}

.level3 {
    background-color: rgb(171, 227, 235);
    border: 2.5px solid rgb(2, 4, 82);
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
}

.board {
    margin: 20px auto;
}
